<%= form_for(@activity) do |f| %>
  <% if @activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

      <ul>
      <% @activity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :active_question %><br>
    <%= f.text_field :active_question %>
  </div>
  <div class="field">
    <%= f.label :active_prop_question %><br>
    <%= f.text_field :active_prop_question %>
  </div>
  <div class="field">
    <%= f.label :receptive_question %><br>
    <%= f.text_field :receptive_question %>
  </div>
  <div class="field">
    <%= f.label :receptive_prop_question %><br>
    <%= f.text_field :receptive_prop_question %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
